#Column1 {
 text-align: left;
 margin: 0 !important;
 padding: 0 !important;
 }

 #Column2 {
    text-align: center;
 }

 #Column3 {
   text-align: right;
 }

 #Column4 {
   text-align: left;
 }

footer {
  text-align: center;
  background-color: #00DDFF;
  margin-bottom:0;
  }

h3 {
  margin-top: 0px
}

body {
 background-color: #fff685;
 margin: 0
}

head {
  margin: 0
}
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center !important;
    background-color: #f75990;
  }

  p {
    margin-bottom: 0
  }

  h2 {
    margin-top: 0;
    background-color: #0049B7;
    text-align: center !important;
    margin-bottom: 0;
    color: yellow;
  }

  h4 {
    margin-top: 0;
    background-color: #0049B7;
    text-align: center !important;
    margin-bottom: 0;
    color: yellow;
  }
